.nav-item {
  display: inline-block;
}
.nav-item a:link {
  text-decoration: none;
  color: red;
}
.nav-item a:hover {
  color: white;
}

.mobile-nav {
  display: none;
}

@media all and (max-width: 600px) {
  .desktop-nav {
    display: none;
  }

  .line {
    display: block;
  }
}
