body {
  width: 80%;
  margin: 0 auto;
  background: lightgrey;
}
#header {
  height: 50vh;
  background: url("https://images.pexels.com/photos/90807/pexels-photo-90807.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
}
nav ul {
  display: flex;
  justify-content: space-around;
  height: 50px;
  background: grey;
}
#about {
  height: 50vh;
}
#projects {
  height: 50vh;
}
h1 {
  font-size: 100px;
  color: white;
}
h3 {
  font-size: 50px;
  color: white;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
#projects p {
  text-align: center;
  font-size: 100px;
}
#contact ul {
  display: flex;
  justify-content: space-around;
}
